/*投票画面のcssファイル*/

/* flexbox参考: https://www.webcreatorbox.com/tech/css-flexbox-cheat-sheet */

/* .pred {
  position: absolute;
  background-color: rgba(255,255,255,0.7);
  width: 100px;
  text-align: center;
  margin-left: 20pt;
  z-index: 10;
  
} */

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

#role_list {
  text-align: center;
  margin: 40px 0px;
}

.p_container {
  /* height: 480px; */
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: stretch;
}

.fg_container {
  /* height: 480px; */
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: stretch;
}

.g_containter {
  width: 50%;
}

.p_title {
  color: #F19E65;
  font-size: 25px;
}

.fg_title {
  color: #4472C4;
  font-size: 25px;
}

.g_title {
  color: #696969;
  font-size: 25px;
}

.p {
  background-color: #F8CBAD;
}

.fg {
  background-color: #B4C7E7;
}

.g {
  background-color: #AFABAB;
}

#list {
  vertical-align: middle;
}

.vote-list {
  flex-basis: 15%;
  padding: 5px 10px;
  border-radius: 20px;        /* CSS3草案 */  
    -webkit-border-radius: 20px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 20px;   /* Firefox用 */
  text-align: center;
}

.explain {
  flex-basis: 55%;
  padding: 5px 20px;
  border-radius: 20px;        /* CSS3草案 */  
    -webkit-border-radius: 20px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 20px;   /* Firefox用 */
}

.vote {
  flex-basis: 15%;
  padding: 5px 10px;
  border-radius: 20px;        /* CSS3草案 */  
    -webkit-border-radius: 20px;    /* Safari,Google Chrome用 */  
    -moz-border-radius: 20px;   /* Firefox用 */
}

.p_explain, .p_vote, .fg_explain, .fg_vote {
  /*height: 220px;*/
  height: 260px; /*入力フォームの数に応じて高さを変えて欲しい*/
  margin-bottom: 5px;
  -khtml-user-drag: element;
  padding: 10px;
  float: left;
}

.p_explain {
  /*background-color: #FFE5F2;*/
  background: #FFF0F5;
  width: 67.5%;
  margin-right: 8px;
  /*border: solid 1px #0099FF;*/
}

.p_vote {
  position: relative;
  background-color: #FFF0F5;
  width: 26.5%;
  /*margin-left: 3px;*/
  /*border: solid 1px #0099FF;*/
}

.fg_explain {
  /*background-color: #DBFFDB;*/
  background: #E6FFE9;
  width: 67.5%;
  margin-right: 8px;
  /*border: solid 1px #0099FF;*/
}

.fg_vote {
  background-color: #E6FFE9;
  width: 26.5%;
  /*margin-left: 3px;*/
  /*border: solid 1px #0099FF;*/
  margin: 0 auto;
}


.rank_num {
  margin-top: 5px;
  margin-bottom: 20px;
  margin-left: 5px;
}

.p_checkbox {
  margin-top: 15px;
  margin-bottom: 8px;
  margin-left: 10px;
}

.fg_checkbox {
  margin-top: 15px;
  margin-bottom: 8px;
  margin-left: 10px;
}


.member {
  clear: both;
  background-color: white;
  height: 130px;
  width: 100%;
  margin-top: 10px;
}

.clear {
  clear: both;
}


.column {
  -webkit-flex-direction: row;
  flex-direction: row;
  height: 30px;
  width: 70px;
  line-height: 30px;
  border: 2px solid #000;
  background-color: #ccc;
  margin: 5px;
  -webkit-border-radius: 10px;
  -ms-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  /*
  -webkit-box-shadow: inset 0 0 3px #000;
  -ms-box-shadow: inset 0 0 3px #000;
  box-shadow: inset 0 0 3px #000;
  */
  text-align: center;
  cursor: move;
}

div.column {
  float: left;
}

/* #submit_vote {
  margin-top: 5px;
  float: right;
  width: 100%;
  height: 50px;
  font-size: 10pt;
} */

label, input[type='checkbox'] {
    cursor: pointer;
}

div.check {
  color: red;
  font-size: 25px;
  text-align: center !important;
}

#login_completed_wrapper {
  text-align: center;
}

#submit_vote_wrapper {
  text-align: center;
}

button {
  width: 100%;
  height: 50px;
  border-radius: 20px;        /* CSS3草案 */  
  -webkit-border-radius: 20px;    /* Safari,Google Chrome用 */  
  -moz-border-radius: 20px;   /* Firefox用 */
  font-size: 15px;
  margin-top: 20px;
}

button:hover {
  opacity: 0.6;
}  